@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #e7e4e4f8;
  overflow: scroll;
}

header {
  background-color: white;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  color: #485060;
  text-decoration: none;
}

.navbar {
  height: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  margin-top: 40px;
}

.logo {
  color: #2d34f0;
  transition: 0.9s ease;
  font-size: 25px;
  margin-top: 20px;
  position: relative;
  top: 12px;
}

.nav-link:hover {
  color: #001aff;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

.barz {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #5e6c84;
  position: relative;
  top: 14px;
}

#main {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 50px;
}

.content,
.about-info {
  margin-top: 150px;
  padding: 24px;
}

h1,
h3 {
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #172b4d;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  margin-top: 30px;
}

.connect {
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  color: #0f27ff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.media {
  margin-top: 30px;
  margin-bottom: 100px;
}

.s-media li {
  display: inline;
  list-style-type: none;
  padding: 5px;
  height: 100%;
  color: #505f79;
}

.img {
  background-image: url('images/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center 3px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards > * {
  width: 324px;
  height: 570px;
  border: 2px solid rgb(201, 197, 197);
  border-radius: 10px;
  background-color: #fff;
  gap: 4rem;
  margin-top: 40px;
}

.img-cards {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  margin-top: 10px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding-left: 24px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  padding-left: 24px;
  margin-top: 10px;
}

.info li {
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #485060;
}

.skillset {
  padding-top: 5px;
}

.skillset li {
  width: 303px;
  height: 66.2px;
  background-color: #f7f7f9;
  font-size: 15px;
  list-style-type: none;
  margin-top: 35px;
}

.icons {
  width: 48px;
  height: 48px;
  position: relative;
  top: 7px;
}

.skillset .icons {
  text-align: left;
}

li span {
  position: relative;
  left: 10px;
  bottom: 5px;
}

.languages li {
  display: inline;
  list-style-type: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #0018f0;
  background-color: #ebebff;
  border: none;
}

.heading-sub li {
  display: inline;
  gap: 2px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  margin-left: 16px;
  color: #7a869a;
  position: relative;
  bottom: 15px;
}

.info li:first-child {
  color: #344563;
  font-size: 14px;
}

.info-2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 24px;
}

.languages {
  margin-top: 12px;
  padding-left: 24px;
}

.button {
  padding-left: 24px;
}

.project-btn {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  width: 100px;
  height: 34px;
  margin-top: 20px;
  color: #396df2;
  background-color: #fff;
  border: 2px solid #396df2;
  border-radius: 5px;
  left: 24px;
}

.project-btn:hover {
  background-color: #396df2;
  color: #fff;
}

.fa-angle-down {
  position: relative;
  left: 150px;
}

.fa-angle-right {
  position: relative;
  left: 150px;
}

h6 .fa-angle-right {
  position: relative;
  left: 213px;
}

.main-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 50px;
  margin-top: 100px;
}

.resume-btn {
  color: #396df2;
  border: 1px solid #396df2;
  height: 34px;
  font-size: 13px;
  width: 134px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 15px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

h5,
h6 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 12px;
}

footer {
  background-color: #6070ff;
  border-top-left-radius: 100px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.contact {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
  top: 200px;
}

.info-3 {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-bottom: 200px;
  top: 200px;
  background-color: #0a23ff;
  color: #fff;
}

.name {
  width: 327px;
  height: 48px;
  margin-top: 87px;
  margin-left: 24px;
  border-radius: 8px;
}

.email {
  width: 327px;
  height: 48px;
  margin-top: 20px;
  margin-left: 24px;
  border-radius: 8px;
}

.message {
  width: 327px;
  height: 127px;
  margin-top: 18px;
  margin-left: 24px;
  border-radius: 8px;
}

.submit {
  width: 140px;
  height: 48px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 22px;
  margin-left: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #001aff;
  background-color: #fff;
  margin-bottom: 45px;
}

.image-2 {
  background-image: url('images/contact.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

input::placeholder,
textarea::placeholder {
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  padding: 10px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-container.active {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  width: 343px;
  height: 620px;
  border-radius: 18px;
}

.see-btn {
  width: 100px;
  height: 40px;
  border: 2px solid #001aff;
  border-radius: 10px;
  color: #0017eb;
  margin-top: 20px;
  margin-left: 16px;
  position: relative;
  bottom: 27px;
}

.modal-1 h2 {
  font-size: 25px;
  line-height: 33px;
  font-weight: 700;
  position: relative;
  right: 10px;
  top: 5px;
}

.close-btn {
  position: relative;
  left: 312px;
  bottom: 23px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.modal-img {
  width: 311px;
  height: 195px;
  margin-left: 16px;
  margin-top: 20px;
  position: relative;
  bottom: 20px;
}

.modal-paragraph {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 16px;
  position: relative;
  bottom: 30px;
}

.length {
  position: relative;
  bottom: 25px;
}

@media screen and (max-width: 600px) {
  .nav-toggle {
    display: block;
    margin-top: 20px;
  }

  .nav-toggle.active .barz:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle.active .barz:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .nav-toggle.active .barz:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
  }

  .nav-menu {
    margin-top: 1px;
    gap: 0;
  }

  .navbar ul {
    position: fixed;
    left: -100%;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #396df2e1;
    width: 100%;
    height: 110%;
    transition: 0.3s;
    align-items: flex-start;
  }

  .nav-item {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
    position: relative;
    top: 90px;
    margin-top: 12px;
  }

  .nav-item a {
    color: #fff;
  }

  .navbar ul.active {
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    animation: loading 0.8s;
  }

  @keyframes loading {
    from {
      opacity: 0;
      transform: rotateX(-30deg);
    }

    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 41px;
  }

  .logo {
    color: #2d34f0;
    transition: 0.9s ease;
    font-size: 2rem;
  }

  .logo a {
    text-decoration: none;
  }

  .nav-link:hover {
    color: #001aff;
  }

  .nav-toggle {
    display: none;
    cursor: pointer;
  }

  .barz {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #5e6c84;
  }

  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
  }

  .paragraph-1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 930px;
  }

  .connect {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #0a23ff;
  }

  .img {
    background-image: url('images/Headerbg@2x.png');
  }

  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards > * {
    width: 1156px;
    height: 496px;
    border: 2px solid rgb(201, 197, 197);
    border-radius: 10px;
    background-color: #fff;
    gap: 4rem;
    margin-top: 40px;
  }

  .img-cards {
    width: 544px;
    height: 448px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    margin-top: 10px;
  }

  .languages li {
    color: #0017eb;
  }

  .img-card-2 {
    position: relative;
    left: 50px;
  }

  .float {
    float: right;
    position: relative;
    right: 90px;
  }

  .float-2 {
    float: left;
    position: relative;
  }

  h2 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    right: 400px;
  }

  .info {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #545454;
  }

  .project-btn {
    margin-top: 30px;
  }

  button:hover {
    background-color: #396df2;
    color: white;
  }

  button:disabled,
  button[disabled] {
    color: #5e6c84;
  }

  .info-2 {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 496px;
  }

  .about-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 50px;
    margin-top: 100px;
  }

  .about-info-2 {
    display: flex;
    flex-direction: column;
    margin-left: 142px;
    margin-top: 142px;
  }

  .about-text {
    width: 4477px;
    height: 102px;
  }

  .my-skills {
    margin-left: 37px;
    margin-top: 142px;
  }

  .skillset {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .skillset li {
    width: 122px;
    height: 120px;
    background-color: #f7f7f9;
    font-size: 15px;
    list-style-type: none;
    margin-top: 35px;
  }

  .fa-angle-down {
    position: relative;
    left: 370px;
  }

  .fa-angle-right {
    position: relative;
    left: 370px;
  }

  h6 .fa-angle-right {
    position: relative;
    left: 433px;
  }

  hr {
    width: 500px;
  }

  .icons {
    position: relative;
    left: 40px;
  }

  li span {
    position: relative;
    top: 15px;
    right: 70px;
  }

  li .HTML {
    position: relative;
    top: 38px;
    right: 120px;
  }

  .last-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact {
    text-align: center;
  }

  .info-3 {
    width: 596px;
    height: 102px;
    text-align: center;
    background-color: #0a23ff;
    color: #fff;
  }

  .image-2 {
    background-image: url('images/contactformbackgroundshapes@2x.png');
  }

  .footer {
    text-align: center;
  }

  .name {
    width: 447px;
    height: 48px;
    margin-top: 87px;
    border-radius: 8px;
  }

  .email {
    width: 447px;
    height: 48px;
    margin-top: 20px;
    border-radius: 8px;
  }

  .message {
    width: 447px;
    height: 170px;
    margin-top: 18px;
    border-radius: 8px;
  }

  .label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .submit {
    text-align: center;
    margin-left: 175px;
    color: #001aff;
  }

  .modal {
    background-color: #fff;
    width: 1156px;
    height: 800px;
    border-radius: 18px;
    overflow: scroll;
  }

  .modal-1 h2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 52px;
    margin-bottom: 20px;
    position: relative;
    top: 20px;
  }

  .heading-sub li {
    display: inline;
    gap: 2px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
    margin-left: 16px;
    position: relative;
    bottom: 25px;
  }

  .modal-img {
    width: 1108px;
    height: 586px;
    margin-left: 16px;
    border-radius: 18px;
  }

  .see-btn {
    width: 120px;
    height: 40px;
    border: 2px solid #001aff;
    border-radius: 10px;
    color: #0017eb;
    margin-top: 20px;
    margin-left: 16px;
    position: relative;
    bottom: 370px;
    left: 800px;
  }

  .close-btn {
    position: relative;
    left: 1110px;
    bottom: 45px;
    background-color: #fff;
    border: none;
    font-weight: 700;
    font-size: 15px;
  }

  .modal-paragraph {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-left: 16px;
    width: 650px;
    height: 350px;
  }

  .length {
    position: relative;
    bottom: 380px;
    left: 800px;
  }
}
